p {
    color: blue;
    text-align: center;
    font-family: "Ariel";
    font-size: 40px;
}
h1 {
    color: rgb(25, 3, 66);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}
div {
    text-align: center;
    padding-block: 10px;
}
body{
    background-color: rgb(205, 220, 233);
}